$title
$symmetry c2v
$redundant    file=coord
$coord    file=coord
$atoms
s  1
    basis =s def2-TZVPP
c  2-6
    basis =c def2-TZVP
o  7
    basis =o def2-TZVP
h  8-11
    basis =h def2-TZVP
$basis    file=basis
$scfmo   file=mos
$closed shells
 a1      1-15                                   ( 2 )
 a2      1                                      ( 2 )
 b1      1-9                                    ( 2 )
 b2      1-4                                    ( 2 )
$scfiterlimit      200
$scfdamp   start=0.300  step=0.050  min=0.100
$scfdump
$scfdiis
$scforbitalshift  automatic=.1
$energy    file=energy
$grad    file=gradient
$dft
    functional   pbe0
    gridsize   6
$scfconv   8
$scfinstab cist
$soes all        10
$rpacor      292   in_total
#$maxcor    500 MiB  per_core
$denconv 1d-7
$rundimensions
   natoms=11
$last step     escf
$orbital_max_rnorm 0.47402154962343E-06
$last SCF energy change = -665.98015
$charge from dscf
         -0.000 (not to be modified here)
$dipole from dscf
  x    -0.00000000000001    y     0.00000000000000    z     1.77070470685180    a.u.
   | dipole | =    4.5007164533  debye
$end
