$title
$symmetry c2v
$redundant    file=coord
$user-defined bonds    file=coord
$coord    file=coord
$optimize
 internal   on
 redundant  on
 cartesian  off
 global     off
 basis      off
$atoms
c  1-6                                                                         \
   basis =c def2-TZVP
h  7-10                                                                        \
   basis =h def2-TZVP
$basis    file=basis
$scfiterlimit      200
$thize     0.10000000E-04
$thime        5
$scfdamp   start=1.000  step=0.050  min=0.100
$scfdump
$scfintunit
 unit=30       size=0        file=twoint
$scfdiis
$scforbitalshift  closedshell=.4
$drvopt
   cartesian  on
   basis      off
   global     off
   hessian    on
   dipole     on
   nuclear polarizability
$interconversion  off
   qconv=1.d-7
   maxiter=25
$coordinateupdate
   dqmax=0.3
   interpolate  on
   statistics    5
$forceupdate
   ahlrichs numgeo=0  mingeo=3 maxgeo=4 modus=<g|dq> dynamic fail=0.3
   threig=0.005  reseig=0.005  thrbig=3.0  scale=1.00  damping=0.0
$forceinit on
   diag=default
$forceapprox    file=forceapprox
$rundimensions
   natoms=10
   nbf(CAO)=240
   nbf(AO)=210
$scfmo   file=mos
$last SCF energy change = -1.2409121
$charge from dscf
         -0.000 (not to be modified here)
$energy    file=energy
$grad    file=gradient
$denconv 1d-7
$dipole from dscf
  x    -0.00000000000001    y     0.00000000000000    z     0.67394791276148    a.u.
   | dipole | =    1.7130176748  debye
$closed shells
 a1      1-10                                   ( 2 )
 a2      1                                      ( 2 )
 b1      1-7                                    ( 2 )
 b2      1-2                                    ( 2 )
$dft
    functional   pbe0
    gridsize   6
$scfconv   8
$scfinstab ciss
$soes all        10
$rpacor      264   in_total
#$maxcor    500 MiB  per_core
$last step     escf
$orbital_max_rnorm 0.75307829178111E-05
$end
